<div class="card animal-card" (click)="select()">
  <div class="card-block">
    <table>


      <tr>
        <td><h4 class="card-title" [class.active]="isSelected">{{ animal.name }}</h4></td>
        <td><h4 class="card-title" [class.active]="isSelected">{{ animal.amount }}</h4></td>
        <td><h4 class="card-title" [class.active]="isSelected">
          <select name="kind" [(ngModel)]="animal.kind">
          <option value="BIRD">bird</option>
          <option value="AMPHIBIAN">amphibian</option>
          <option value="MAMMAL">mammal</option>
          <option value="REPTILE">reptile</option>
        </select></h4></td>
        <td><h4 class="card-title" [class.active]="isSelected">
          <select name="kind" [(ngModel)]="animal.statusInTheWild">
            <option value="EXTINCT">extinct</option>
            <option value="AT_RISK">at risk</option>
            <option value="NOT_THREATENED">not threatened</option>
            <option value="CRITICALLY_ENDANGERED">critically endangered</option>
            <option value="ENDANGERED">endangered</option>
          </select>
        </h4></td>
        <td><h4 class="card-title" [class.active]="isSelected">{{ animal.lifeSpan }}</h4></td>
        <td><h4 class="card-title" [class.active]="isSelected">{{ animal.worldRange }}</h4></td>
      </tr>
    </table>
  </div>
  <ng-content select=[animal-header]></ng-content>
</div>


<!--<div class="form-group">-->
  <!--<label>Class:</label><br>-->
  <!--<select name="kind" [(ngModel)]="animal.kind">-->
    <!--<option value="BIRD">bird</option>-->
    <!--<option value="AMPHIBIAN">amphibian</option>-->
    <!--<option value="MAMMAL">mammal</option>-->
    <!--<option value="REPTILE">reptile</option>-->
  <!--</select>-->
<!--</div>-->
